.customer-page{
    background-color: rgb(240,240,240);
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: grey;
}

.customer-card-details{
    margin: 0 0 0 0;
    font-size: 0.75rem;
}

.first-last-name{
    margin-left: 0.55rem;
    display: flex;
    min-width: 15rem;
    max-width: 20px;

}

.telefon-nr{
    display: flex;
    min-width: 14.8rem;
    max-width: 20rem;
}

.email{
    display: flex;
    min-width: 15rem;
    max-width: 20rem;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card-first-last-name{
    min-width: 15rem;
    max-width: 20px;
}

.card-telefon-nr{
    min-width: 15rem;
    max-width: 20px;
}

.card-email{
    min-width: 13.5rem;
    max-width: 15px;
}

.add-customer{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: #1876d2;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2rem;
    margin-right: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.customers{
    background-color: rgb(240,240,240);
}

.position-for-search{
    background-color: white;
    color: grey;
    display: flex;
    width: 11.5rem;
    height:2rem;
    align-items: center;
    border-radius: 3rem;
}

.spacing-top{
    height: 2rem;
}

.spacing-under{
    height: 1.5rem;
}

.searchbar input#search{
    width: 10rem;
    height: 2rem;
    border:none;
    font-size: 10pt;
    float: left;
    border-radius: 3rem;
    transition: width .55s ease;
}

.searchbar input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
}

.file-cards {
    display: flex;
    flex-direction: row;
}

